.gradient-text {
    background: linear-gradient(90deg, #0a84ff, #64d2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.home-content-container  {
    flex: 1;
    text-align: left;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.home-content {
    margin-bottom: 5rem;
    padding-left: 6rem;
    padding-right: 6rem;
}


.home-animation {
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.laptop-animation {
   transform: scale(3);
}

.home-content-container  hr {
    width: 48vh;
    border: 0.4vh solid #0a84ff;
    border-radius: 10px;
    margin-left: 0;
}

.home-content-container  p {
    font-size: 3vh;
}

.home-content-container  h1 {
    font-size: 7vh;
}

.link-container button {
    background-color: transparent;
    border: 0.2vh solid #ffffff;
    height: 3rem;
    width: 3rem;
    padding: 0;
    margin-right: 1rem;
}

@media (max-width: 1367px) {
    .laptop-animation {
        transform: scale(2); /* Scale down slightly */
    }
}

@media (max-width: 1024px) {
    .laptop-animation {
        transform: scale(1.5); 
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    .home-content  {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;

    }

    .home-content hr {
        width: 15rem;
        border: 3px solid #0a84ff;
        margin: auto;
    }

    .home-animation {
        display: none;
    }
}